<p><span>yesno</span> is a simple app that allows users (without registering/logging in) to vote on yes or no questions. They can also create their own and share them socaily or with friends.</p>
<p class="beta">This is still in uber-beta, and is mostly a side-project; so if anything wonks out, that&rsquo;s why. I&rsquo;ll do my best to fix it of course, but have a wee bit o&rsquo; patience please <span>☺</span></p>
<h2>To get started, follow these simple steps:</h2>
<ol>
	<li>from anywhere on the site, click <span>yes</span> in the logo to show only questions with a majority of <span>yes</span> answers <em>(give it a go now, we&rsquo;ll wait)</em></li>
	<li>conversly, clicking <span>no</span> will do the same for questions with a majority of <span>no</span> answers</li>
	<li>then, when you&rsquo;ve found a question that strikes your fancy, click the title</li>
	<li>from the question detail page, simply click or tap or <span>yes</span> or <span>no</span> to vote</li>
	<li>then, you&rsquo;ll see the results so far</li>
	<li>now, feel free to share this on Twitter or Facebook, or <span>yesno</span> give you two URLs (click the <span class="icon-share-alt"></span>) you can share that users can auto-vote <span>yes</span> or <span>no</span> with by simply visiting that URL</li>
	<li>and voila, that&rsquo;s it</li>
</ol>
<h2>Easy as pie, no?</h2>
<p>You can then <span class="icon-repeat"></span> to get a new question, or you can <span class="icon-search"></span> for another question as well.</p>
<h2>Or you can create your own question:</h2>
<ol>
	<li>click the <span class="icon-plus"></span> to get started</li>
	<li>add in a title <span>(required)</span>, a description (optional), and 2 images if you feel it will help the user decide</li>
	<li>lastly, hit publish and off you go!</li>
</ol>
<h2>Questions or bugs?</h2>
<p><a href="mailto=">Ping me here</a>. Otherwise, enjoy! Lovingly made by <a class="inline" href="http://jefff.co/" target="_blank">jefff</a>