<p><span>yesno</span> is a simple app that allows users (without registering/logging in) to vote on yes or no questions. They can also create their own and share them socaily or with friends.</p>
<div class="beta">
	<p>This is still in uber-beta, and is mostly a side-project; so if anything wonks out, that&rsquo;s why. I&rsquo;ll do my best to fix it of course, but have a wee bit o&rsquo; patience please <span>☺</span></p>
	<h3>Known issues</h3>
	<p>I&rsquo;ve seen a few oddities with cookie for editing a question.</p>
</div
<hr />
<h2>To get started, follow these simple steps:</h2>
<ol>
	<li>from anywhere on the site, click <span>yes</span> in the logo to show only questions with a majority of <span>yes</span> answers <em>(give it a go now, we&rsquo;ll wait)</em></li>
	<li>conversly, clicking <span>no</span> will do the same for questions with a majority of <span>no</span> answers</li>
	<li>then, when you&rsquo;ve found a question that strikes your fancy, click the title</li>
	<li>from the question detail page, simply click or tap or <span>yes</span> or <span>no</span> to vote</li>
	<li>then, you&rsquo;ll see the results so far</li>
	<li>now, feel free to share this on Twitter or Facebook, or <span>yesno</span> give you two URLs (click <span class="icon-share-alt"></span> to view these as well as sharing links) you can share that users can auto-vote <span>yes</span> or <span>no</span> with by simply visiting that URL</li>
	<li>and voila, that&rsquo;s it</li>
</ol>
<hr />
<h2>Easy as pie, no?</h2>
<p>You can then <span class="icon-repeat"></span> to get a new question, or you can <span class="icon-search"></span> for another question as well. Also, clicking the <span class="icon-star"></span> will filter the questions by only those with more than 25 total votes.</p>
<hr />
<h2>Or you can create your own question:</h2>
<ol>
	<li>click the <span class="icon-plus"></span> to get started</li>
	<li>add in a title <span>(required)</span>, a description (optional), and 2 images if you feel it will help the user decide</li>
	<li>lastly, hit publish and off you go</li>
</ol>
<hr />
<h2>Cookies, hmmmm?</h2>
<p>Yep, you got it. This site extensively uses cookies to track your responses and actions. I don&rsquo;t do <span>ANYTHING</span> with them of course, and I won&rsquo;t ever sell the data or anyting like that. So yes, you could delete the cookie and game the system, but what would be the fun in that?</p>
<p>Another reason for using cookies is so that you don&rsquo;t need to create another user account that you&rsquo;ll [probably] struggle to remember the password to, and it just makes the site easier to use and enjoy.</p>
<hr />
<h2>Want to add a question?</h2>
<div class="center">
  <%= link_to(new_q_path) do %>
  <span class="btn"><span class="icon-plus"></span> Let&rsquo;s do it!</span>
  <% end %>
</div>
<hr />
<h2>Questions or bugs?</h2>
<p><a href="https://github.com/jefffis/yesno">Check the project on Github</a>, or <a href="mailto:whatis@yesorno.es">send me an email</a>. Otherwise, enjoy!</p>
<hr />
<h2>Sign up for updates?</h2>
<p>I&rsquo;ll push out updates periodically (via Mailchimp, I &lt;3 them), so drop your name here if you&rsquo;re interested in that sort of thing; if not, ignore this part.</p>
<form action="http://jefff.us6.list-manage.com/subscribe/post?u=abd01cbfa99953914467e6b5f&amp;id=11edb1ae39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate target="_blank">
	<fieldset>
		<label for="email">
			<input type="email" id="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
		</label>
	</fieldset>
	<fieldset>
		<input type="submit" value="Join that hotness" />
	</fieldset>
</form>
<hr />
<%= link_to ('<span class="icon-home"></span> <em>home</em>').html_safe, '/', :class => 'popular' %>
<p>And yes, I was <span>inspired by the Polar &amp; Seesaw apps</span>; but I wanted something simpler and more focussed. Also, a hat-tip to <a href="https://twitter.com/DUQE" target="_blank">Duqe</a> for the voting via URLs concept.</p>
<hr />
<p>Lovingly made by <a class="inline" href="http://jefff.co/" target="_blank">jefff</a></p>