<!--<h1>New q</h1>-->
<%= render 'form' %>
<div class="center">
<a onclick="goBack()">
	<span class="icon-arrow-left"></span>
</a>
<script>
	function goBack(){
		window.history.back();
	}
</script>
</div>